<% var page = 'homepage'; %>
<% include partials/head %>

<!-- Player -->
<div class="container">
  <h1>Youtube Rooms</h1>
  <hr><br>
  <div class="section">
    <h3>Your Identity</h3><br><br>
    <div class="controls">
      <div class="row">
        <p id="uid_string"><strong>Your UID: </strong><span id="uid"><%= uid %></span></p>
        <p id="alias_string"><strong>Your Alias: </strong><span id="alias"></span></p>
      </div>
      <div class="row">
        <input type="text" placeholder="Alias">
        <button>Set Alias</button>
      </div>
    </div>
  </div>
  <br><hr><br>
  <div class="section">
    <h3>Create Room</h3><br>
    <div class="controls">
      <div class="row">
        <input type="text" placeholder="room_id">
        <button>Create Room</button>
      </div>
    </div>
  </div>
  <br><hr><br>
  <div class="section">
    <h3>Join Room</h3><br>
    <div class="controls">
      <div class="row">
        <input type="text" placeholder="room_id">
        <button>Join Room</button>
      </div>
    </div>
  </div>
  <div class="section">
    <br><h3>Rooms</h3><br>
    <ul>
      <!-- @TODO: Populate Already Generated Servers -->
    </ul>
  </div>
</div>

<% include partials/footer %>
