<% var page = 'homepage'; %>
<% include partials/head %>
<% include partials/header %>

<div class="container">
  <h1>Youtube Rooms</h1>
  <hr><br>
  <div class="section">
    <h3>Your Identity</h3><br><br>
    <div class="controls">
      <div class="row">
        <p id="uid_string"><strong>Your UID: </strong><span id="uid"><%= uid %></span></p>
        <p id="alias_string"><strong>Your Alias: </strong><span id="alias"><%= alias %></span></p>
      </div>
      <div class="row">
        <input id="alias_input" type="text" placeholder="Alias">
        <button id="alias_button">Set Alias</button>
      </div>
    </div>
  </div>
  <br><hr><br>
  <div class="section">
    <h3>Create Room</h3><br>
    <div class="controls">
      <div class="row">
        <form action="/createRoom" method="POST">
          <input id="create_input" name="create_input" type="text" placeholder="room_id">
          <button id="create_button" type="submit" >Create Room</button>
        </form>
      </div>
    </div>
  </div>
  <br><hr><br>
  <div class="section">
    <h3>Join Room</h3><br>
    <div class="controls">
      <div class="row">
        <input id="join_input" type="text" placeholder="room_id">
        <button id="join_button">Join Room</button>
      </div>
    </div>
  </div
  <% if (Object.keys(rooms).length) { %>
  <div class="section">
    <br><h3>Rooms</h3><br>
    <ul id="rooms_list">
      <% include partials/rooms/list %>
    </ul>
  </div>
  <% } %>
</div>

<% include partials/footer %>
