<% var page = 'room'; %>
<% include partials/head %>

<!-- Player -->
<div class="container">
  <div class="toptext">
    <p id="uid"></p>
    <p id="room_id"></p>
  </div>
  <div id="playerWrapper">
    <div id="player"></div>
  </div>

  <div class="controls">
    <div class="row">
      <input id="video_id" type="text" placeholder="Video ID" value="x2P7nDtXg-A">
      <button id="set_video">Set Video</button>
    </div>
    <div class="row">
      <!-- data-state: 0 - Not Playing | 1 Playing -->
      <button id="controls_play" data-state="0">Play</button>
      <div id="controls_timeline">
        <div class="pin"></div>
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>
