    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="js/<%= page %>.js" defer async></script>
    <script src="https://www.youtube.com/iframe_api" defer sync></script>
  </body>
</html>
