<section class="header">
  <h1 class="header_branding font_weight-light font_size-medium">
    <a href="/" class="link">
      Youtube <span class="font_weight-regular">Binder</span>
    </a>
  </h1>
  <div class="header_identifiers">
    <span class="header_identifiers-uid font_size-small"><%= uid %></span>
    <span class="header_identifiers-alias font_size-small"><%= alias %></span>
  </div>
</section>