<section class="header">
  <h1 id="header_branding" class="font_weight-light font_size-medium">Youtube <span class="font_weight-regular">Binder</span></h1>
  <div class="header_identifiers">
    <span class="header_identifiers-uid font_size-small"><%= uid %></span>
    <span class="header_identifiers-alias font_size-small"><%= alias %></span>
  </div>
</section>