<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= page.substr(0,1).toUpperCase()+page.substr(1)%> :: Youtube Binder</title>
    <link href="styles.css" rel="stylesheet"/>
  </head>
  <body class="<%= page %>">
